# Ignore bundler config.
backend/.bundle
backend/.local
backend/vendor

# Ignore all logfiles and tempfiles.
backend/log/*
backend/tmp/*
backend/log/.keep
backend/tmp/.keep

# Ignore pidfiles, but keep the directory.
backend/tmp/pids/*
backend/tmp/pids/
backend/tmp/pids/.keep

# Ignore uploaded files in development.
backend/storage/*
backend/storage/.keep
backend/.byebug_history
.lesshst
# Ignore master key for decrypting credentials and more.
backend/config/master.key

# Ignore other files for development
.bash_history
.irb_history
frontend/.npm/_logs

# Ignore db directory and db files in backend/db
db
!/backend/db

# Ignore .env
.env
